# global
fastapi
google-genai
python-dotenv
uvicorn

# farmx and fraud
pandas
scikit-learn

# farmx and policysense
python-multipart

# clarityhub
google-api-python-client

# farmx
transformers
pillow
torch

# fraud
xgboost

#tts
kokoro>=0.9.4
soundfile
pydub
misaki[en]
misaki[ja]
misaki[zh]
fugashi[unidic]
